.lead__image {
  margin: 40px 0 0;
  width: 100%;
  object-fit: cover;
}

@media  screen and (min-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media  screen and (min-width: 1024px) {
  .lead__image {
    width: calc(100% - 48px * 2);
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media  screen and (min-width: 1280px) {
  .lead__image {
    width: 100%;
    margin: 64px 0 0;
  }
}
