.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  margin: 0;
  padding: 0 16px 0;
  text-align: center;
}

@media  screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}


@media  screen and (min-width: 1024px) {
  .lead__title {
    max-width: 720px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
