.place__link {
  justify-self: start;
  margin: 0;
  padding: 12px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: none;
  color: white;
  border-bottom: solid white 1px;
}

.place__link:hover {
  opacity: .8;
}
